<!DOCTYPE html>
<html  lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
      
	<head>
		<!-- Import Leaflet CSS -->
		<link rel="stylesheet" th:href="@{app/leaflet/leaflet.css}">
		<style>
		    #map {
		        height: calc(100vh - 0px) !important;
		    }
			.leaflet-container {  /* all maps */
			    width:  100%;
			    /* height: calc(100vh - 60px); */
			    height: 100vh;
			}
			
			.legend, .temporal-legend {
			    padding: 6px 10px;
			    font: 14px/16px Arial, Helvetica, sans-serif;
			    background: rgba(0,0,0,0.85);
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
			    border-radius: 5px;
			    color:whitesmoke;
			}
			
			#legendTitle {
			    text-align: center;
			    margin-bottom: 15px;
			    color: whitesmoke;
			    /* font-variant: small-caps; */
			    font-weight: bold;
			}
			
			.symbolsContainer {
			    float: left;
			    margin-left: 50px;
			}
			
			.legendCircle {
			    border-radius:50%;
			    border: 1px solid #537898;
			    background: rgba(0,128,128,0.5);
			    display: inline-block;
			}
			
			.legendValue {
			    position: absolute;
			    right: 12px;
			    color:whitesmoke;
			    font-size:10pt;
			    text-align:center;
			    font-weight: bold;
			}
			
			.info {
			    width:30vw;
			    height:48vh;
			    /* width:20vw; */
			    /* height:300px; */
			    padding: 6px 10px;
			    font: 14px/16px Arial, Helvetica, sans-serif;
			    background: rgba(0,0,0,0.85);
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
			    border-radius: 5px;
			    color:whitesmoke;
			    /* max-width:100%;
			    max-height:100%; */
			}
			
			.info h5 {
			    margin: 0 0 5px;
			    color: #777;
			    text-align: center;
			    /* margin-bottom: 15px; */
			    color: whitesmoke;
			    /* font-variant: small-caps; */
			    font-weight: bold;
			}
			
			.info #horBarChart {
			    width: 100% !important;
			    max-width: 800px;
			    /* height:inherit; */
			}
			
			.leaflet-control-layers {
			    float:right;
			    top:500px;
			    right:0;
			    /* margin-left:-200px; */
			    position:absolute;
			    background: rgba(0,0,0,0.85);
			    box-shadow: 0 0 15px rgba(0,0,0,0.2);
			    border-radius: 5px;
			    color:whitesmoke;
			}
		</style>
	</head>
	<body layout:fragment="content">
		<!-- Import Leaflet JS -->
		<script th:src="@{app/jquery/dist/jquery.min.js}"></script>
		<script th:src="@{app/leaflet/leaflet.js}"></script>
		<script th:src="@{app/extscripts/js/Chart.js}"></script>
		<script src="
https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.min.js
"></script>
		<div id="map"></div>
		
		<script type="text/javascript">
			
			// Url Endpoints
			var dataUrl = "http://localhost:9092/aeroport";
			var volUrl = "http://localhost:9092/vol";

			// Basemap urls
			var osm_humanitarian = L.tileLayer('http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			});
			
			var osm_map = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
				maxZoom: 19,
				attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
			});
			var esri_dark_gray_base = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/Canvas/World_Dark_Gray_Base/MapServer/tile/{z}/{y}/{x}', {
				maxZoom: 19,
				attribution: '&copy; <a href="http://services.arcgisonline.com/arcgis/rest/services">ESRI</a> arcgisonline'
			});
			var world_street_map = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
				maxZoom: 19,
				attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
			});
			var world_imagery = L.tileLayer('http://services.arcgisonline.com/arcgis/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
				maxZoom: 19,
				attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
			});
			
			// Initialize the map
			var map = L.map('map', {
				layers: [osm_humanitarian] // Default basemap
			}).setView([33.370069, -7.583809], 3)
			
			// Initialize basemaps
		    var baseLayers = {
		        "Open Street Map": osm_map,
		        "OSM Humanitarian": osm_humanitarian,
		        "Dark Gray Base": esri_dark_gray_base,
		        "World Street Map": world_street_map,
		        "World Imagery": world_imagery
		    };

		    
		    // Create layer groups
		    var point_layers = L.layerGroup().addTo(map);
		    var class_layers = L.layerGroup().addTo(map);
		    
		    $.getJSON(dataUrl, function(data) {
				$.each(data, function(i, item) {
					var locIcon = L.icon({
						iconUrl:
								"https://www.freeiconspng.com/thumbs/location-icon-png/location-icon-map-png-11.png",
						iconSize: [15, 15],
					});
					var cpoints = L.marker(L.latLng(item.loc.coordinates[1], item.loc.coordinates[0]), {
						icon: locIcon,
		            });
		            cpoints.bindPopup(
						"<h4><b>Nom:</b> " + item.nom.toString() + "</h4>" +
						"<h4><b>nbrPistes:</b> " + item.nbrPistes.toString() + "</h4>"
					);
		            cpoints.on('mouseover', function(e) {
						this.setStyle({color:'yellow'});
		                this.openPopup();
		            });
		            cpoints.on('mouseout', function(e) {
						this.setStyle({color:'#009999'});
		                this.closePopup();
		            });
		            point_layers.addLayer(cpoints);
		        });
			});

			var planeIcon = L.icon({
				iconUrl: "https://static.vecteezy.com/system/resources/previews/014/455/865/original/plane-icon-icon-on-transparent-background-free-png.png",
				iconSize: [30, 30],
				iconAnchor: [15, 15],
				popupAnchor: [0, -15],
				className: "plane-icon",
				//rotationAngle: 0, // Initial rotation angle
			});

			//
			//
			// var planeMarker = L.marker([33.370069, -7.583809], {
			// 	icon: planeIcon,
			// }).addTo(map);


			$.getJSON(volUrl, function(data) {
				$.each(data, function(i, item) {
					var planeMarker = L.marker([item.aeroportDepart.loc.coordinates[1], item.aeroportDepart.loc.coordinates[0]], {
						icon: planeIcon,
					}).addTo(map);

					var EscaleStatus = 0;
					// Define a flag to track if the plane has reached the escale
					var reachedEscale = false;

					// Define the initial coordinates and destination coordinates
					var origin = L.latLng(item.aeroportDepart.loc.coordinates[1], item.aeroportDepart.loc.coordinates[0]); //Morocco
					var destination = L.latLng(item.aeroportArrive.loc.coordinates[1], item.aeroportArrive.loc.coordinates[0]); //France 48.726041, 2.365231


					// Check if there is an "escale" and update the destination
					if (item.escale) {
						var escaleCoordinates = L.latLng(item.escale.loc.coordinates[1], item.escale.loc.coordinates[0]);
						destination = escaleCoordinates;
					}


					// Define the speed of the plane in kilometers per second
					var speed = 100;

					// Define an array to hold the coordinates of the plane's trajectory
					var trajectoryCoordinates = [origin];
					var trajectoryPolyline = L.polyline(trajectoryCoordinates, {
						color: "purple",
						weight: 2,
					}).addTo(map);

					// Function to simulate a sleep or delay in JavaScript
					function sleep(milliseconds) {
						const date = Date.now();
						let currentDate = null;
						do {
							currentDate = Date.now();
						} while (currentDate - date < milliseconds);
					}


					// Define the timer function to update the marker's position
					function updateMarker() {
						// Calculate the distance between the current position and the destination
						var distance = origin.distanceTo(destination);
						console.log("The value of x is", distance / 1000);

						// If the distance is less than a threshold value (e.g. 10 meters), stop the timer
						if (distance / 1000 < 100) {
							speed = distance / 1000;
						}
						if (distance < 1000) {
							speed = distance / 1000;
							clearInterval(timer);
							console.log("Already in ", distance / 1000);
							EscaleStatus = 1;

							sleep(2000); // Wait for 2 seconds
							// If reached the escale, set the reachedEscale flag to true and wait for 2 seconds

							return;
						}

						// Calculate the bearing between the current position and the destination
						var bearing = origin.bearingTo(destination);

						// Calculate the new position of the plane based on the speed and bearing
						var newOrigin = origin.destinationPoint(speed, bearing);

						// Update the marker's position on the map
						planeMarker.setLatLng(newOrigin);

						// Set the new origin as the current position for the next update
						origin = newOrigin;

						// Update the rotation angle of the plane icon
						planeMarker.setRotationAngle(bearing);


						// Add the new position to the trajectory coordinates array
						trajectoryCoordinates.push(newOrigin);

						// Update the trajectory polyline with the new coordinates
						trajectoryPolyline.setLatLngs(trajectoryCoordinates);
					}


					// Start the timer to update the marker's position every second
					function sleep(ms) {
						return new Promise(resolve => setTimeout(resolve, ms));
					}

					var timer; // Declare the timer variable outside the sleep function

					// Sleep for 2 seconds before starting each flight
					sleep(i * 2000).then(() => {
						timer = setInterval(updateMarker, 1000); // Assign the timer value inside the sleep function
					});
					//var timer = setInterval(updateMarker, 1000);

					L.LatLng.prototype.distanceTo = function (other) {
						var R = 6371; // km
						var dLat = ((other.lat - this.lat) * Math.PI) / 180;
						var dLon = ((other.lng - this.lng) * Math.PI) / 180;
						var lat1 = (this.lat * Math.PI) / 180;
						var lat2 = (other.lat * Math.PI) / 180;
						var a =
								Math.sin(dLat / 2) * Math.sin(dLat / 2) +
								Math.sin(dLon / 2) *
								Math.sin(dLon / 2) *
								Math.cos(lat1) *
								Math.cos(lat2);
						var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
						var d = R * c;
						return d * 1000; // meters
					};

					L.LatLng.prototype.bearingTo = function (other) {
						var dLon = ((other.lng - this.lng) * Math.PI) / 180;
						var lat1 = (this.lat * Math.PI) / 180;
						var lat2 = (other.lat * Math.PI) / 180;
						var y = Math.sin(dLon) * Math.cos(lat2);
						var x =
								Math.cos(lat1) * Math.sin(lat2) -
								Math.sin(lat1) * Math.cos(lat2) * Math.cos(dLon);
						var bearing = (Math.atan2(y, x) * 180) / Math.PI;
						return (bearing + 360) % 360;
					};
					L.LatLng.prototype.destinationPoint = function (distance, bearing) {
						var R = 6371; // km
						var lat1 = (this.lat * Math.PI) / 180;
						var lng1 = (this.lng * Math.PI) / 180;
						var brng = (bearing * Math.PI) / 180;
						var d = distance / R; // convert to angular distance in radians
						var lat2 = Math.asin(
								Math.sin(lat1) * Math.cos(d) +
								Math.cos(lat1) * Math.sin(d) * Math.cos(brng)
						);
						var lng2 =
								lng1 +
								Math.atan2(
										Math.sin(brng) * Math.sin(d) * Math.cos(lat1),
										Math.cos(d) - Math.sin(lat1) * Math.sin(lat2)
								);
						lng2 = ((lng2 + 3 * Math.PI) % (2 * Math.PI)) - Math.PI; // normalize to -180..+180°
						return L.latLng((lat2 * 180) / Math.PI, (lng2 * 180) / Math.PI);
					};

					if (item.escale ) {

						var escaleCoordinates = L.latLng(item.escale.loc.coordinates[1], item.escale.loc.coordinates[0]);
						var escaleDestination = L.latLng(item.aeroportArrive.loc.coordinates[1], item.aeroportArrive.loc.coordinates[0]);

						var escaleDistance = escaleCoordinates.distanceTo(escaleDestination);
						var escaleBearing = escaleCoordinates.bearingTo(escaleDestination);
						var escaleSpeed = speed;

						var escaleTrajectoryCoordinates = [escaleCoordinates];
						var escaleTrajectoryPolyline = L.polyline(escaleTrajectoryCoordinates, {
							color: "purple",
							weight: 2,
						}).addTo(map);

						function updateEscaleMarker() {

							if(EscaleStatus ===1 ){

								var escaleDistance = escaleCoordinates.distanceTo(escaleDestination);

								if (escaleDistance / 1000 < 100) {
									escaleSpeed = escaleDistance / 1000;
								}
								if (escaleDistance < 1000) {
									escaleSpeed = escaleDistance / 1000;
									clearInterval(escaleTimer);
									console.log("Already in ", escaleDistance / 1000);
									// Set the new destination for the final leg of the journey
									destination = escaleDestination;
									return;
								}

								var escaleBearing = escaleCoordinates.bearingTo(escaleDestination);
								var newEscaleOrigin = escaleCoordinates.destinationPoint(escaleSpeed, escaleBearing);

								planeMarker.setLatLng(newEscaleOrigin);
								escaleCoordinates = newEscaleOrigin;

								planeMarker.setRotationAngle(escaleBearing);

								escaleTrajectoryCoordinates.push(newEscaleOrigin);
								escaleTrajectoryPolyline.setLatLngs(escaleTrajectoryCoordinates);
							}

						}
						sleep(2000); // Wait for 2 seconds
						var escaleTimer = setInterval(updateEscaleMarker, 1000);
					}





				});
			});

			// $.getJSON(dataUrl, function(data) {
			// 	$.each(data, function(i, item) {
			// 		if (item.avgMonthlyKL < 9) {
			// 			var cpoints = L.circle(L.latLng(item.geom.coordinates[1], item.geom.coordinates[0]), {
			//                 color: 'green',
			//                 radius: item.avgMonthlyKL * 90,
			//                 weight: 1.0,
			//                 fillOpacity: 0.7
			//             });
			// 		} else if (item.avgMonthlyKL > 8 && item.avgMonthlyKL < 11) {
			// 			var cpoints = L.circle(L.latLng(item.geom.coordinates[1], item.geom.coordinates[0]), {
			//                 color: 'teal',
			//                 radius: item.avgMonthlyKL * 90,
			//                 weight: 1.0,
			//                 fillOpacity: 0.7
			//             });
			// 		} else {
			// 			var cpoints = L.circle(L.latLng(item.geom.coordinates[1], item.geom.coordinates[0]), {
			//                 color: 'red',
			//                 radius: item.avgMonthlyKL * 90,
			//                 weight: 1.0,
			//                 fillOpacity: 0.7
			//             });
			// 		}
		    //
		    //         cpoints.bindPopup(
			// 			"<h4><b>Suburb:</b> " + item.suburb.toString() + "</h4>" +
			// 			"<h4><b>Water:</b> " + item.avgMonthlyKL.toString() + " KL </h4>"
			// 		);
		    //         cpoints.on('mouseover', function(e) {
		    //             this.openPopup();
		    //         });
		    //         cpoints.on('mouseout', function(e) {
		    //             this.closePopup();
		    //         });
		    //         class_layers.addLayer(cpoints);
		    //     });
			// });
			
			var overlayMaps = {
				"Les Aeroports": point_layers,
				"Classe des Aeroports": class_layers
			}
		    
		    // Add the layers control
		    L.control.layers(baseLayers, overlayMaps).addTo(map);
		    
		    // Create Legend
		    // createLegend();
			// function createLegend() {
	        //     var legend = L.control({position: 'bottomright'});
	        //     legend.onAdd = function(map) {
	        //         var legendContainer = L.DomUtil.create('div', 'legend');
			//
	        //         var symbolsContainer = L.DomUtil.create('div', 'symbolsContainer');
			//
	        //         var classes = [6, 11, 20];
			//
	        //         var legendCircle;
			//
	        //         var lastRadius = 0;
			//
	        //         var margin;
			//
	        //         $(legendContainer).append("<h5 id='legendTitle'>WATER CONSUMPTION IN (KL)</h5>");
			//
	        //         for (var i = 0; i <= classes.length-1; i++) {
	        //             legendCircle = L.DomUtil.create("div", "legendCircle");
			//
	        //             currentRadius = classes[i] * 2;
			//
	        //             margin = -currentRadius - lastRadius - 2;
			//
	        //             $(legendCircle).attr("style", "width: " + currentRadius*2 +
	        //                                 "px; height: " + currentRadius*2 +
	        //                                 "px; margin-left: " + margin + "px" );
			//
	        //             if (classes[i] == 20) {
	        //                 $(legendCircle).append("<span class='legendValue'>" + '11 - ' + classes[i] + '+' + "</span>");
	        //             } else if (classes[i] == 11) {
	        //                 $(legendCircle).append("<span class='legendValue'>" + '6 - ' + classes[i] + "</span>");
	        //             } else if (classes[i] == 6) {
	        //                 $(legendCircle).append("<span class='legendValue'>" + '0 - ' + classes[i] + "</span>");
	        //             }
			//
	        //             $(symbolsContainer).append(legendCircle);
			//
	        //             lastRadius = currentRadius;
			//
	        //         }
			//
	        //         $(legendContainer).append(symbolsContainer);
			//
	        //         return legendContainer;
	        //     };
			//
	        //     legend.addTo(map);
	        // }
	        //
	        // barChartLegend();
	        // function barChartLegend() {
			//
		    //   var info = L.control({position: 'topright'});
		    //   info.onAdd = function(map) {
		    //     var div = L.DomUtil.create('div', 'info');
		    //     div.innerHTML += '<h5>Top 10 Consumers (KL)</h5>';
		    //     div.innerHTML += '<canvas id="horBarChart"></canvas>';
			//
		    //     return div;
		    //   };
			//
		    //   info.addTo(map);
		    // }
		    //
		    // displayhorBarChart();
			//
	        // function displayhorBarChart() {
	        //     var x_labels = [];
	        //     var y_data = [];
			//
	        //     $.ajax({
	        //         url: "/waterconsumption/topten",
	        //         cache:"false",
	        //         dataType: "text",
	        //         type: "GET",
			//
	        //         success: function(data) {
	        //             var obj = JSON.parse(data);
			//
	        //             obj.forEach(o => {
	        //                 x_labels.push(o.suburb);
	        //             });
			//
	        //             var label_array = Object.values(x_labels);
			//
	        //             obj.forEach(o => {
	        //                 y_data.push(o.avgMonthlyKL);
	        //             });
			//
	        //             var data_array = Object.values(y_data);
			//
	        //             var ctx = document.getElementById("horBarChart").getContext("2d");
	        //             var canvas = document.getElementById("horBarChart");
	        //             var parent = document.getElementById("info");
			//
	        //             var horBarChart = new Chart(ctx, {
	        //                 type: 'horizontalBar',
	        //                 data: {
	        //                     labels: label_array,
	        //                     datasets: [{
	        //                         label: 'water',
	        //                         backgroundColor: "rgba(0, 128, 128, 0.6)",
	        //                         borderColor: "rgba(0, 128, 128, 1)",
	        //                         data: data_array
	        //                     }]
	        //                 },
			//
	        //                 options: {
	        //                     scaleShowValues: true,
	        //                     scales: {
	        //                         yAxes: [{
	        //                             ticks: {
	        //                                 beginAtZero: true
	        //                             }
	        //                         }],
	        //                         xAxes: [{
	        //                             ticks: {
	        //                                 autoSkip: false,
	        //                                 beginAtZero: true
	        //                             }
	        //                         }]
	        //                     }
	        //                 }
	        //             });
	        //         },
			//
	        //         error: function(data) {
	        //             alert('error; '+ eval(error));
	        //         }
	        //     });
	
	        //}
		    
		    
		    
		    
			
			
			
			
			
			
		</script>
	</body>
</html>












